[submodule "3rdparties/variant"]
	path = 3rdparties/variant
	url = https://github.com/mapbox/variant.git
[submodule "3rdparties/geometry-cpp"]
	path = 3rdparties/geometry-cpp
	url = https://github.com/district10/geojson-cpp.git
[submodule "3rdparties/geometry.hpp"]
	path = 3rdparties/geometry.hpp
	url = https://github.com/district10/geometry.hpp.git
[submodule "3rdparties/protozero"]
	path = 3rdparties/protozero
	url = https://github.com/mapbox/protozero.git
[submodule "3rdparties/doctest"]
	path = 3rdparties/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "3rdparties/dbg-macro"]
	path = 3rdparties/dbg-macro
	url = https://github.com/sharkdp/dbg-macro.git
