[submodule "geobuf"]
    path = geobuf
    url = https://github.com/mapbox/geobuf.git
[submodule "pygeobuf"]
    path = pygeobuf
    url = https://github.com/pygeobuf/pygeobuf.git
[submodule "headers"]
    path = headers
    url = https://github.com/cubao/headers.git
[submodule "pybind11"]
    path = pybind11
    url = https://github.com/pybind/pybind11.git
